@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

@import 'bulma/css/bulma.min.css';

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Satisfy', serif;
}

.bg-dark {
  background-color: #111;
}

.text-dark {
  color: #111;
}

.bg-light {
  background-color: #fffcfa;
}

.text-light {
  color: #fffcfa;
}

.bg-prime {
  background-color: #ff4500;
}

.text-prime {
  color: #ff4500;
}

.bg-gold {
  background-color: #ffd700;
}

.text-gold {
  color: #ffd700;
}

.bg-teal {
  background-color: #008080;
}

.text-teal {
  color: #008080;
}

.button {
  border: none;
  outline: none;
  transition: all 0.5s ease-in;
  margin: 1px;
}

.button:hover,
.button:focus {
  color: #fffcfa;
}

.button:hover {
  opacity: 0.85;
}