@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fredericka+the+Great&display=swap');


@import 'tailwindcss';

@source './'

@layer base {
  html {
    font-family: 'Cormorant Garamond', serif;
  }
}

@layer components {
  .menu-item {
    @apply relative flex h-full items-center p-4 cursor-pointer font-semibold text-[#fff] hover:bg-[#ff4500] hover:text-[#111] transition-all duration-700;
  }

  .ticket-item {
    @apply p-4 font-semibold text-[#fff] hover:text-[#111] transition-all duration-700 cursor-pointer;
  }
}

.logo {
  font-family: 'Fredericka the Great', serif;
}